<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesmain.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900">
    <title>Bomberos Tarapoto</title>
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <div class="owo">
                <a class="logo" href="index.html"> <img src="/img/escudo.png" alt="Esucdo de los bomberos de Tarapoto" height="150px"> </a>
            
                <div class="opciones">
                    
                    <ul class="home">
                        <a class="home1" href="#">
                            <img src="/img/pagina-de-inicio.png" alt="" height="35">
                            <p>INICIO</p>
                        </a>
                    </ul>
    
                    <ul class="personal">
                        <a class="perso" href="#">
                            <img src="/img/bombero.png" alt="" height="35">
                            <p>PERSONAL</p>
                        </a>
                    </ul>
    
                    <ul class="inventario">
                        <a class="inven" href="#">
                            <img src="/img/guantes.png" alt="" height="35">
                            <p>INVENTARIO</p>
                        </a>
                    </ul>
    
                    <ul class="emergencias">
                        <a class="emerg" href="#">
                            <img src="/img/sirena.png" alt="" height="35">
                            <p>EMERGENCIAS</p>
                        </a>
                    </ul>
    
                    <ul class="donacion">
                        <a class="dona" href="#">
                            <img src="/img/apreton-de-manos.png" alt="" height="35">
                            <p>DONACIONES</p>
                        </a>
                    </ul>
    
                    <ul class="actividad">
                        <a class="acti" href="#">
                            <img src="/img/calendario.png" alt="" height="35">
                            <p>ACTIVIDADES</p>
                        </a>
                    </ul>
                
                    <ul class="seguridad">
                        <a class="segu" href="#">
                            <img src="/img/gerente-de-proyecto.png" alt="" height="35">
                            <p>SEGURIDAD</p>
                        </a>
                    </ul>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="cabeza">
                <h2>INICIO</h2>
        
                <div class="perfil">
                    <p class="bomb">Kent Miranda</p>
                    <img class="foto" src="/img/perfil.png" alt="" height="65px">
                    <p class="uwu">uw</p>
                    <img src="/img/salida.png" alt="" height="35px" onclick="logout()" style="cursor: pointer;">
                </div>
        
            </div>
            
            <div class="ini">
                <div class="eya">

                </div>
            </div>
        </div>
    </div>
    <script src="/js/main.js"></script> 
</body>
</html>