<!-- Fragmento para registrar -->
<div th:fragment="registrarForm">
    <h3 class="titulo-formulario">FORMULARIO DE USUARIO</h3>
        <hr class="divisor-title">        
        <form th:action="@{/webbomberos/intranet/Usuarios/registraruser}" method="post">
            <!-- campos de registro -->
            <div class="formulario-usuario">  
                <!-- Columna Izquierda: Imagen -->
                <div class="imagen-usuario">
                    <div class="preview-imagen">
                        <img id="preview" src="/img/perfil.png" alt="Imagen Usuario" />
                    </div>
                    <input type="file" id="fileInput" name="imagen" style="display: none;" onchange="mostrarVistaPrevia(event)">
                    <div class="botones-img">
                        <button type="button" onclick="eliminarImagen()">Eliminar</button>
                    </div>
                </div>
                <!-- Columna Derecha: Campos -->
                <div class="campos-usuario">

                    <div class="titulo-seccion">
                        <h4>Información del bombero</h4>
                        <hr class="divisor">
                    </div>    

                    <!-- Sub-fragmento de datos personales -->
                    <div th:replace="this :: datosPersonal"></div>

                    <div class="titulo-seccion">
                        <h4>Información de Usuario</h4>
                        <hr class="divisor">
                    </div>
                    <div class="campo">
                        <label>Usuario:</label>
                        <input type="text" name="username" required>
                    </div>

                    <div class="campo">
                        <label>Contraseña:</label>
                        <input type="password" name="password" required>
                    </div>
                    <div class="campo">
                        <label>Correo:</label>
                        <input type="email" name="email" required>
                    </div>
                    <div class="campo">
                        <label>Roles:</label>
                        <div class="custom-dropdown">
                            <div class="dropdown-btn" onclick="toggleDropdown(this)">Seleccionar roles</div>
                            <div class="dropdown-content">
                                <label th:each="rol : ${listaroles}">
                                    <input type="checkbox"
                                           name="roles"
                                           th:value="${rol.roleEnum}">
                                    <span th:text="${rol.roleEnum}">ROL</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="campo">
                        <label>Cuenta:</label>
                        <select name="isEnabled" required>
                            <option value=true>Habilitada</option>
                            <option value=false>Desabilitada</option>
                        </select>
                        <label>Estado:</label>
                        <select name="accountNoLocked" required>
                            <option value=true>Activo</option>
                            <option value=false>Bloqueado</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- Botones de acción -->
            <div class="botones-formulario">
                <button type="submit" class="btn-guardar">
                    <i class="fa fa-save"></i> Guardar
                </button>
                <button type="button" class="btn-cancelar" onclick="closeModal('modalRegistrar')">
                    <i class="fa fa-times"></i> Cancelar
                </button>
            </div>
        </form>
</div>

<!-- Sub-fragmento que obtiene los campos del bombero -->
<div th:fragment="datosPersonal" id="resultadoPersonal">

   <input type="hidden" name="idPersonal" id="idPersonal" readonly th:value="${p != null ? p.idPersonal : ''}">

  <div class="campo">
    <label>DNI:</label>
    <input type="text" id="dni" name="dni" required
           th:value="${p != null ? p.dni : ''}"
           onblur="buscarPersonal()" />
  </div>
  <div class="campo">
    <label>Nombres:</label>
    <input type="text" name="nombres"
           th:value="${p != null ? p.nombres : ''}"
           readonly />
  </div>
  <div class="campo">
    <label>Código:</label>
    <input type="text" name="codigo"
           th:value="${p != null ? p.codigoBombero : ''}"
           readonly />
  </div>
  <div class="campo">
    <label>Grado:</label>
    <select name="grado" disabled>
      <option th:selected="${p != null and p.grado=='Capitán'}">Capitán</option>
      <option th:selected="${p != null and p.grado=='Teniente'}">Teniente</option>
      <option th:selected="${p != null and p.grado=='Suboficial'}">Suboficial</option>
    </select>
  </div>
</div>





<!-- Fragmento para visualizar -->
<div th:fragment="visualizarForm">
    <h3 class="titulo-formulario">FORMULARIO DE USUARIO</h3>
    <hr class="divisor-title">        
    <form th:action="@{/webbomberos/intranet/Usuarios/visualizaruser}" method="get">
        <div class="formulario-usuario">  
            <!-- Columna Izquierda: Imagen -->
            <div class="imagen-usuario">
                <div class="preview-imagen">
                    <img id="preview" src="/img/perfil.png" alt="Imagen Usuario" />
                </div>
                <input type="file" id="fileInput" name="imagen" style="display: none;" onchange="mostrarVistaPrevia(event)">
                <div class="botones-img">
                    <button type="button" onclick="eliminarImagen()">Eliminar</button>
                </div>
            </div>
            <!-- Columna Derecha: Campos -->
            <div class="campos-usuario">

                <div class="titulo-seccion">
                    <h4>Información del bombero</h4>
                    <hr class="divisor">
                </div>    
                <div class="campo">
                    <label>DNI:</label>
                    <input type="text" name="dni" th:value="${p.dni}" readonly>
                </div>
                <div class="campo">
                    <label>Nombres:</label>
                    <input type="text" name="nombres"  th:value="${p.nombres}" readonly>
                </div>
                <div class="campo">
                    <label>Código:</label>
                    <input type="text" name="codigo" th:value="${p.codigoBombero}" readonly>
                </div>
                <div class="campo">
                    <label>Grado:</label>
                    <select name="grado" disabled>
                        <option>Capitán</option>
                        <option>Teniente</option>
                        <option>Suboficial</option>
                        <!-- Agrega más según tus datos -->
                    </select>
                </div>

                <div class="titulo-seccion">
                    <h4>Información de Usuario</h4>
                    <hr class="divisor">
                </div>
                <div class="campo">
                    <label>Usuario:</label>
                    <input type="hidden" name="Id_Usuario" id="Id_Usuario" readonly th:value="${usuario.Id_Usuario}">
                    <input type="text" name="username" readonly th:value="${usuario.username}">
                </div>
                <div class="campo">
                    <label>Correo:</label>
                    <input type="email" name="email" readonly th:value="${usuario.email}">
                </div>
                <div class="campo">
                    <label>Roles:</label>
                    <div class="custom-dropdown">
                        <div class="dropdown-btn" onclick="toggleDropdown(this)">Ver roles</div>
                        <div class="dropdown-content">
                            <label th:each="rol : ${listaroles}">
                                <input type="checkbox"
                                       name="roles"
                                       th:value="${rol.roleEnum}"
                                       th:checked="${usuario.roles.contains(rol)}"
                                       disabled>
                                <span th:text="${rol.roleEnum}">ROL</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="campo">
                    <label>Cuenta:</label>
                    <select disabled>
                        <option value=true th:selected="${usuario.isEnabled}">Habilitada</option>
                        <option value=false th:selected="${!usuario.isEnabled}">Deshabilitada</option>
                    </select>
                    <label>Estado:</label>
                    <select disabled>
                        <option value=true th:selected="${usuario.accountNoLocked}">Activo</option>
                        <option value=false th:selected="${!usuario.accountNoLocked}">Bloqueado</option>
                    </select>
                </div>
                <!-- Botones de acción -->
                <div class="botones-formulario">
                    <button type="button" class="btn-cancelar" onclick="closeModal('modalVisualizar')">
                        <i class="fa fa-times"></i> Cerrar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>



<!-- Fragmento para editar -->
<div th:fragment="editarForm">
    <h3>Editar Usuario</h3>
    <form th:action="@{/webbomberos/intranet/Usuarios/editaruser/{id}(id=${usuario.Id_Usuario})}" method="post">
        <div class="formulario-usuario">  
            <!-- Columna Izquierda: Imagen -->
            <div class="imagen-usuario">
                <div class="preview-imagen">
                    <img id="preview" src="/img/perfil.png" alt="Imagen Usuario" />
                </div>
                <input type="file" id="fileInput" name="imagen" style="display: none;" onchange="mostrarVistaPrevia(event)">
                <div class="botones-img">
                    <button type="button" onclick="eliminarImagen()">Eliminar</button>
                </div>
            </div>
            <!-- Columna Derecha: Campos -->
            <div class="campos-usuario">

                <div class="titulo-seccion">
                    <h4>Información del bombero</h4>
                    <hr class="divisor">
                </div>    
                <div class="campo">
                    <label>DNI:</label>
                    <input type="text" name="dni" th:value="${p.dni}" readonly>
                </div>
                <div class="campo">
                    <label>Nombres:</label>
                    <input type="text" name="nombres" th:value="${p.nombres}" readonly>
                </div>
                <div class="campo">
                    <label>Código:</label>
                    <input type="text" name="codigo" th:value="${p.codigoBombero}" readonly>
                </div>
                <div class="campo">
                    <label>Grado:</label>
                    <select name="grado" disabled>
                        <option>Capitán</option>
                        <option>Teniente</option>
                        <option>Suboficial</option>
                        <!-- Agrega más según tus datos -->
                    </select>
                </div>

                <div class="titulo-seccion">
                    <h4>Información de Usuario</h4>
                    <hr class="divisor">
                </div>
                <div class="campo">
                    <label>Usuario:</label>
                    <input type="hidden" name="Id_Usuario" th:value="${usuario.Id_Usuario}">
                    <input type="text" name="username" required th:value="${usuario.username}">
                </div>

                <div class="campo">
                    <label>Contraseña:</label>
                    <input type="password" name="password" placeholder="Dejar vacío para no cambiar">
                </div>
                <div class="campo">
                    <label>Correo:</label>
                    <input type="email" name="email" required th:value="${usuario.email}">
                </div>
                <div class="campo">
                    <label>Roles:</label>
                    <div class="custom-dropdown">
                        <div class="dropdown-btn" onclick="toggleDropdown(this)">Ver roles</div>
                        <div class="dropdown-content">
                            <label th:each="rol : ${listaroles}">
                                <input type="checkbox"
                                       name="roles"
                                       th:value="${rol.roleEnum}"
                                       th:checked="${usuario.roles.contains(rol)}">
                                <span th:text="${rol.roleEnum}">ROL</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="campo">
                    <label>Cuenta:</label>
                    <select name="isEnabled" required>
                        <option value=true th:selected="${usuario.isEnabled}">Habilitada</option>
                        <option value=false th:selected="${!usuario.isEnabled}">Deshabilitada</option>
                    </select>
                    <label>Estado:</label>
                    <select name="accountNoLocked" required>
                        <option value=true th:selected="${usuario.accountNoLocked}">Activo</option>
                        <option value=false th:selected="${!usuario.accountNoLocked}">Bloqueado</option>
                    </select>
                </div>
                <!-- Botones de acción -->
                <div class="botones-formulario">
                    <button type="submit" class="btn-guardar">
                        <i class="fa fa-save"></i> Guardar
                    </button>
                    <button type="button" class="btn-cancelar" onclick="closeModal('modalEditar')">
                        <i class="fa fa-times"></i> Cancelar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>