<!DOCTYPE html>
<html lang="en">
<head>
    <!--NO TOCAR-->
    <title th:replace="~{includes/panel :: head}"></title>
</head>
<body>
    <!--NO TOCAR-->
   <section th:replace="~{includes/panel :: navbar}"></section>
        <main class="main-content">
            
            
            <!--ZONA DE CODIGO-->
            <!--ZONA DE CODIGO-->

            <!--ZONA DE CODIGO-->
            <!--ZONA DE CODIGO-->

            
        </main>
    
    <!--NO TOCAR-->
    <section th:replace="~{includes/panel :: pie}"></section>
</body>
</html>